{% extends 'client/partials/base.html' %}

{% block title %}About Us | Baji10{% endblock %}

{% load static %}

{% block content %}
<!-- breadcrumb begin -->
<div class="prd-breadcrumb">
    <div class="container">
        <div class="brd-content">
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
                <span class="sub-title">About us</span>
            </div>
            <h2 class="title" data-aos="fade-up" data-aos-delay="350" data-aos-duration="500" data-aos-easing="ease-in">We Offer a Wide Variety of betting</h2>
            <div class="page-direction">
                <ul>
                    <li>
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                        <span class="text">Home</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-light fa-caret-right fa-xl"></i></span>
                        <span class="text">About us</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->


<!-- authority begin -->
<div class="authority">
    <div class="global-shape style-2">
        <img src="assets/img/shapes/shape-1.png" alt="" data-aos="fade-left" data-aos-duration="700" data-aos-delay="200">
    </div>
    <div class="container">
        <div class="section-title" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
            <h3 class="sub-title">our authoriity</h3>
            <h2 class="title">We have a Betting Expert Team</h2>
        </div>
        <div class="all-members">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-6" data-aos-offset="200" data-aos="fade-up" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in">
                    <div class="single-authority-member">
                        <div class="part-pic">
                            <img src="assets/img/authority/member-pic-1.png" alt="">
                        </div>
                        <div class="part-info">
                            <span class="member-name">genelia kaur</span>
                            <span class="member-designation">Business analyst</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-6" data-aos-offset="200" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
                    <div class="single-authority-member">
                        <div class="part-info">
                            <span class="member-name">Mason Smart</span>
                            <span class="member-designation">CEO/Head of ideas</span>
                        </div>
                        <div class="part-pic">
                            <img src="assets/img/authority/member-pic-2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-6" data-aos-offset="200" data-aos="fade-up" data-aos-delay="250" data-aos-duration="500" data-aos-easing="ease-in">
                    <div class="single-authority-member">
                        <div class="part-pic">
                            <img src="assets/img/authority/member-pic-3.png" alt="">
                        </div>
                        <div class="part-info">
                            <span class="member-name">Isabel Wheeler</span>
                            <span class="member-designation">Maint. technician</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-6" data-aos-offset="200" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in">
                    <div class="single-authority-member">
                        <div class="part-info">
                            <span class="member-name">Tegan Barker</span>
                            <span class="member-designation">Identification clerk</span>
                        </div>
                        <div class="part-pic">
                            <img src="assets/img/authority/member-pic-4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- authority end -->

<!-- call to action begin -->
<div class="call-to-action">
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in">
            <div class="col-xl-9 col-lg-9 col-md-7 col-sm-10 d-xl-flex d-lg-flex d-block align-items-center">
                <div class="part-text">
                    <h4 class="title">Still Need Help or Confused to Placing A Bet?</h4>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-5 d-xl-flex d-lg-flex d-md-flex d-block align-items-center">
                <div class="part-btn">
                    <a class='prd-btn-1' href='faq.html'>Get Help <i class="fa-regular fa-circle-info"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- call to action end -->
 <!-- newsletter begin -->
 <div class="newsletter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-5 col-xl-6 col-lg-6 col-md-12 col-sm-12 d-xl-flex d-lg-flex d-block align-items-end order-lg-first order-2">
                <div class="part-img">
                    <img src="assets/img/newsletter/newsletter-img-bg.png" alt="" class="bg" data-aos="fade-up" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in">
                    <img src="assets/img/newsletter/newsletter-img.png" alt="" class="main-img" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in">
                </div>
            </div>
            <div class="col-xxl-7 col-xl-6 col-lg-6 col-md-8 col-sm-10 d-xl-flex d-lg-flex d-block align-items-center">
                <div class="part-newsletter">
                    <div class="section-title" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                        <h3 class="sub-title">get our newsletter</h3>
                        <h2 class="title">Stay Tuned with Us</h2>
                    </div>
                    <p data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">Subscribe to <span class="p-bold">PerediON‘</span>‘s newsletter and never miss  <br/>
                        our latest business newses.
                        Our newsletter is sent once a week, every monday.</p>
                    <form data-aos="fade-up" data-aos-delay="250" data-aos-duration="500" data-aos-easing="ease-in">
                        <input type="text" placeholder="Ex: yourmail@address">
                        <button class="prd-btn-1 submit-btn">Subscribe <i class="fa-sharp fa-light fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- newsletter end -->

<!-- feature begin -->
<div class="feature">
    <div class="global-shape style-2">
        <img src="assets/img/shapes/shape-1.png" alt="" data-aos="fade-left" data-aos-duration="500" data-aos-offset="200" data-aos-easing="ease-in" data-aos-delay="500">
    </div>
    <div class="container">
        <div class="row justify-content-xl-center justify-content-lg-start">
            <div class="col-xl-5 col-lg-8 col-md-8">
                <div class="part-left" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                    <div class="section-title if-lines-break title-white">
                        <h3 class="sub-title">Why we are best</h3>
                        <h2 class="title">We're proud to provide best services to our clients</h2>
                    </div>
                    <div class="part-img">
                        <img class="img-shape" src="assets/img/about/about-img-shape.png" alt="" class="img-shape" data-aos="fade-up-right" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="200">
                        <img class="main-img" src="assets/img/feature/feature-img.png" alt="" data-aos="zoom-in-right" data-aos-easing="ease-in" data-aos-duration="500" data-aos-delay="400">
                    </div>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12">
                <div class="feature-list">
                    <div class="row">
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-feature">
                                <div class="part-icon">
                                    <img src="assets/img/feature/icon-1.png" alt="">
                                </div>
                                <div class="part-text">
                                    <span class="title">Reasonable odds</span>
                                    <p>The odds offered in a Betting 
                                        Exchange are relatively better than odds given by bookmakers.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6" data-aos="fade-up" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-feature">
                                <div class="part-icon">
                                    <img src="assets/img/feature/icon-2.png" alt="">
                                </div>
                                <div class="part-text">
                                    <span class="title">Live Betting</span>
                                    <p>live streaming allows you to watch the games you’re betting on, bringing you closer to the action.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-feature">
                                <div class="part-icon">
                                    <img src="assets/img/feature/icon-3.png" alt="">
                                </div>
                                <div class="part-text">
                                    <span class="title">Plenty of Options</span>
                                    <p>we offer more than just betting options., Most of them allow you to stream games in real-time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6" data-aos="fade-up" data-aos-delay="250" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-feature">
                                <div class="part-icon">
                                    <img src="assets/img/feature/icon-4.png" alt="">
                                </div>
                                <div class="part-text">
                                    <span class="title">Easyest to Deposit</span>
                                    <p>When you are looking to bet online you need to fund your account before you can place your bets.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-feature">
                                <div class="part-icon">
                                    <img src="assets/img/feature/icon-5.png" alt="">
                                </div>
                                <div class="part-text">
                                    <span class="title">Fastest Withdrawal</span>
                                    <p>It's easy to get retrieve your balance at a fast withdrawal, and you won't 
                                        be left waiting.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-4 col-md-6 col-sm-6" data-aos="fade-up" data-aos-delay="350" data-aos-duration="500" data-aos-easing="ease-in">
                            <div class="single-feature">
                                <div class="part-icon">
                                    <img src="assets/img/feature/icon-6.png" alt="">
                                </div>
                                <div class="part-text">
                                    <span class="title">24/7 Friendly Support</span>
                                    <p>Our customer care team are ready to deal with betting issues and are available to talk to you 24/7. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- feature end -->

<!-- testimonial begin -->
<div class="testimonial">
    <div class="global-shape style-3">
        <img src="assets/img/shapes/shape-1.png" alt="" data-aos="fade-left" data-aos-duration="500" data-aos-offset="200" data-aos-easing="ease-in" data-aos-delay="400">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                <div class="section-title">
                    <h3 class="sub-title">testimonials</h3>
                    <h2 class="title">Client’s Valuable Feedback</h2>
                </div>
            </div>
        </div>
        <div class="testimonial-carousel owl-carousel owl-theme" data-aos="fade-up" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in">
            <div class="single-testimonial">
                <div class="testi-user-info">
                    <div class="part-user-info">
                        <span class="user-name">ruhio S albert</span>
                        <span class="lottery-category">Est. Returns : $205.20</span>
                        <span class="winning-date">( apr - 2022 )</span>
                    </div>
                    <div class="user-img-cover">
                        <div class="part-img">
                            <img src="assets/img/testimonial/user-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="part-feedback">
                    <p><img class="quot-1" src="assets/img/testimonial/quot-icon-1.png" alt="">
                        Since it’s all by chance, enjoy picking your numbers or seeing what the 
                    lottery terminal generates Since it’s all by chance.
                    <img class="quot-2" src="assets/img/testimonial/quot-icon-2.png" alt="">
                </p>
                </div>
            </div>
            <div class="single-testimonial">
                <div class="testi-user-info">
                    <div class="part-user-info">
                        <span class="user-name">Leah Stanley</span>
                        <span class="lottery-category">Est. Returns : $425.20</span>
                        <span class="winning-date">( Jan - 2022 )</span>
                    </div>
                    <div class="user-img-cover">
                        <div class="part-img">
                            <img src="assets/img/testimonial/user-2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="part-feedback">
                    <p><img class="quot-1" src="assets/img/testimonial/quot-icon-1.png" alt="">
                        Since it’s all by chance, enjoy picking your numbers or seeing what the 
                    lottery terminal generates Since it’s all by chance.
                    <img class="quot-2" src="assets/img/testimonial/quot-icon-2.png" alt="">
                </p>
                </div>
            </div>
            <div class="single-testimonial">
                <div class="testi-user-info">
                    <div class="part-user-info">
                        <span class="user-name">Megan Clayton</span>
                        <span class="lottery-category">Est. Returns : $99.51</span>
                        <span class="winning-date">( Dec - 2021 )</span>
                    </div>
                    <div class="user-img-cover">
                        <div class="part-img">
                            <img src="assets/img/testimonial/user-3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="part-feedback">
                    <p><img class="quot-1" src="assets/img/testimonial/quot-icon-1.png" alt="">
                        Since it’s all by chance, enjoy picking your numbers or seeing what the 
                    lottery terminal generates Since it’s all by chance.
                    <img class="quot-2" src="assets/img/testimonial/quot-icon-2.png" alt="">
                </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- testimonial end -->
{% endblock %}
