
{% extends 'client/partials/base.html' %}

{% block title %}About Us | Baji10{% endblock %}

{% load static %}

{% block content %}
<!-- breadcrumb begin -->
<div class="prd-breadcrumb">
    <div class="container">
        <div class="brd-content">
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
                <span class="sub-title">Contact us</span>
            </div>    
            <h2 class="title" data-aos="fade-up" data-aos-delay="350" data-aos-duration="500" data-aos-easing="ease-in">Get in touch by simply dropping a message</h2>
            <div class="page-direction">
                <ul>
                    <li>
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                        <span class="text">Home</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-light fa-caret-right fa-xl"></i></span>
                        <span class="text">Contact us</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- contact begin -->
<div class="contact-us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8">
                <div class="part-contact poklotto-form" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                    <h3 class="title">Get in touch with us</h3>
                    <div class="part-form">
                        <form>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <label for="first_name" class="form-label"><span>First name</span></label>
                                    <input type="text" id="first_name" placeholder="Ex: john">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <label for="last_name" class="form-label"><span>Last name</span></label>
                                    <input type="text" id="last_name" placeholder="Ex: doe">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <label for="mail_address" class="form-label"><span>Mail address</span></label>
                                    <input type="email" id="mail_address" placeholder="Ex: yourmail@address">
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <label for="phone_number" class="form-label"><span>phone number</span></label>
                                    <input type="text" id="phone_number" placeholder="Ex: +96 xxx xxx xxx x">
                                </div>
                                <div class="col-xl-12 col-lg-12">
                                    <label for="write_message" class="form-label"><span>write a Message</span></label>
                                    <textarea id="write_message" placeholder="Ex: Hello, admin...."></textarea>
                                </div>
                            </div>
                            <button class="prd-btn-1">
                                submit to us <i class="fa-duotone fa-arrow-right"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-9 col-sm-9 d-xl-flex d-lg-flex d-block align-items-end" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in" style="z-index: 55;">
                <div class="part-img">
                    <img src="assets/img/contact/contact-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="part-address">
        <div class="bg"></div>
        <div class="container">
            <div class="address-elements" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                <div class="single-element">
                    <h4 class="title">Phone</h4>
                    <ul>
                        <li>+96 847-930-0570</li>
                        <li>+96 603-221-6491</li>
                    </ul>
                </div>
                <div class="single-element" data-aos="fade-up" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in">
                    <h4 class="title">email</h4>
                    <ul>
                        <li>JameMorgan@armyspy.com</li>
                        <li>WalterBBarry@rhyta.com</li>
                    </ul>
                </div>
                <div class="single-element" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
                    <h4 class="title">Head office</h4>
                    <ul>
                        <li>1051 Agriculture Lane</li>
                        <li>Miami, Florida(FL), 33179</li>
                        <li>305-249-1601</li>
                    </ul>
                </div>
                <div class="single-element" data-aos="fade-up" data-aos-delay="250" data-aos-duration="500" data-aos-easing="ease-in">
                    <h4 class="title">branch 1</h4>
                    <ul>
                        <li>3880 Eagle Drive</li>
                        <li>Detroit, Michigan(MI), 48219</li>
                        <li>734-771-2836</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact end -->
{% endblock %}