{% extends 'client/partials/base.html' %}

{% block title %}About Us | Baji10{% endblock %}

{% load static %}

{% block content %}
<div class="prd-breadcrumb">
    <div class="brd-shape">
        <div class="brd-img brd-img-1" data-aos="fade-right" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
            <img src="assets/img/breadcrumb/brd-img-1.png" alt="">
        </div>
        <div class="brd-img brd-img-2" data-aos="fade-left" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
            <img src="assets/img/breadcrumb/brd-img-2.png" alt="">
        </div>
    </div>
    <div class="container">
        <div class="brd-content">
            <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
                <span class="sub-title">FREQUENTLY ASKED QUESTIONS</span>
            </div>
            <h2 class="title" data-aos="fade-up" data-aos-delay="350" data-aos-duration="500" data-aos-easing="ease-in">Get Quick Answer to Your Questions</h2>
            <div class="page-direction">
                <ul>
                    <li>
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                        <span class="text">Home</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa-light fa-caret-right fa-xl"></i></span>
                        <span class="text">FAQ</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="faq">
    <div class="global-shape style-3">
        <img src="assets/img/shapes/shape-1.png" alt="" data-aos="fade-left" data-aos-duration="500" data-aos-offset="200" data-aos-easing="ease-in" data-aos-delay="400">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-10">
                <div class="search-bar-element" data-aos="fade-up" data-aos-delay="50" data-aos-duration="500" data-aos-easing="ease-in">
                    <form>
                        <input type="text" placeholder="Ask a question...">
                        <button type="submit"><i class="fa-light fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="faq-menu">
        <div class="container">
            <img src="assets/img/faq/support-man.png" alt="" class="support-man-img">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10">
                    <ul class="nav nav-pills row" id="pills-tab" role="tablist">
                        <li class="nav-item col-xl-4 col-lg-4 col-md-4" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                                <span class="faq-menu-img-icon">
                                    <img src="assets/img/faq/img-1.png" alt="">
                                </span>
                                <span class="faq-menu-title">Getting started</span>
                            </button>
                        </li>
                        <li class="nav-item col-xl-4 col-lg-4 col-md-4" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" data-aos="fade-up" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in">
                                <span class="faq-menu-img-icon">
                                    <img src="assets/img/faq/img-2.png" alt="">
                                </span>
                                <span class="faq-menu-title">Ques. & Answers</span>
                            </button>
                        </li>
                        <li class="nav-item col-xl-4 col-lg-4 col-md-4" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
                                <span class="faq-menu-img-icon">
                                    <img src="assets/img/faq/img-3.png" alt="">
                                </span>
                                <span class="faq-menu-title">Support & Sales</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="faq-content">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="row custom-gutter">
                                <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What is Poklotto?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="150" data-aos-duration="500" data-aos-easing="ease-in">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How do i invest?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500" data-aos-easing="ease-in">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How do i deposit in?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="250" data-aos-duration="500" data-aos-easing="ease-in">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How to withdraw money?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-easing="ease-in">
                                    <div class="single-faq">
                                        <h3 class="faq-que">Can i cancel my deposit?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="350" data-aos-duration="500" data-aos-easing="ease-in">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What’s the exact ROI?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-12" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500" data-aos-easing="ease-in">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What payment method does Poklotto support?</h3>
                                        <p>To around far been four there the grammar. Could of and his that which luxury. Shreds brought school. Actual such given way right, one not allow due dressing is as its and just the vices made where the cache. With acknowledge an me from and times, my on be the.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="450" data-aos-duration="500" data-aos-easing="ease-in">
                                            <div class="single-faq">
                                                <h3 class="faq-que">How to withdraw money?</h3>
                                                <p>To around far been four there the grammar. Could of and his that which luxury. Shreds brought school. Actual such given way right, one not allow due  is as its and just the vices made where.</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500" data-aos-easing="ease-in">
                                            <div class="single-faq">
                                                <h3 class="faq-que">Can i cancel my deposit?</h3>
                                                <p>To around far been four there the grammar. Could of and his that which luxury. Shreds brought school. Actual such given way right, one not allow due  is as its and just the vices made where.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-easing="ease-in">
                                    <div class="faq-submit-form">
                                        <div class="form-header">
                                            <img src="assets/img/faq/signature.png" alt="" class="pen-img">
                                            <h3 class="title">Submit A Question</h3>
                                            <p>We’ll answer it ASAP by mailing.</p>
                                        </div>
                                        <form>
                                            <input type="email" placeholder="Your mail address here">
                                            <textarea placeholder="Write your question here..."></textarea>
                                            <button class="prd-btn-1" type="submit">Submit <i class="fa-duotone fa-arrow-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="row custom-gutter">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What is Poklotto?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How do i invest?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How do i deposit in?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How to withdraw money?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">Can i cancel my deposit?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What’s the exact ROI?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-12">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What payment method does Poklotto support?</h3>
                                        <p>To around far been four there the grammar. Could of and his that which luxury. Shreds brought school. Actual such given way right, one not allow due dressing is as its and just the vices made where the cache. With acknowledge an me from and times, my on be the.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-faq">
                                                <h3 class="faq-que">How to withdraw money?</h3>
                                                <p>To around far been four there the grammar. Could of and his that which luxury. Shreds brought school. Actual such given way right, one not allow due  is as its and just the vices made where.</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-faq">
                                                <h3 class="faq-que">Can i cancel my deposit?</h3>
                                                <p>To around far been four there the grammar. Could of and his that which luxury. Shreds brought school. Actual such given way right, one not allow due  is as its and just the vices made where.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12">
                                    <div class="faq-submit-form">
                                        <div class="form-header">
                                            <h3 class="title">Submit A Question</h3>
                                            <p>We’ll answer it ASAP by mailing.</p>
                                        </div>
                                        <form>
                                            <input type="email" placeholder="Your mail address here">
                                            <textarea placeholder="Write your question here..."></textarea>
                                            <button class="btn-pok btn-pok-sm" type="submit">Submit <i class="fa-solid fa-angle-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <div class="row custom-gutter">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What is Poklotto?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How do i invest?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How do i deposit in?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">How to withdraw money?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">Can i cancel my deposit?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What’s the exact ROI?</h3>
                                        <p>Parent, carpeting state ran could evaluate shall the on. Their a the supplies one the there uneasiness, well, live trying. Guard can copy</p>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-12">
                                    <div class="single-faq">
                                        <h3 class="faq-que">What payment method does Poklotto support?</h3>
                                        <p>To around far been four there the grammar. Could of and his that which luxury. Shreds brought school. Actual such given way right, one not allow due dressing is as its and just the vices made where the cache. With acknowledge an me from and times, my on be the.</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-faq">
                                                <h3 class="faq-que">How to withdraw money?</h3>
                                                <p>To around far been four there the grammar. Could of and his that which luxury. Shreds brought school. Actual such given way right, one not allow due  is as its and just the vices made where.</p>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-6">
                                            <div class="single-faq">
                                                <h3 class="faq-que">Can i cancel my deposit?</h3>
                                                <p>To around far been four there the grammar. Could of and his that which luxury. Shreds brought school. Actual such given way right, one not allow due  is as its and just the vices made where.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-12">
                                    <div class="faq-submit-form">
                                        <div class="form-header">
                                            <h3 class="title">Submit A Question</h3>
                                            <p>We’ll answer it ASAP by mailing.</p>
                                        </div>
                                        <form>
                                            <input type="email" placeholder="Your mail address here">
                                            <textarea placeholder="Write your question here..."></textarea>
                                            <button class="btn-pok btn-pok-sm" type="submit">Submit <i class="fa-solid fa-angle-right"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}