{% extends 'client/partials/base.html' %}

{% block title %}Baji10 - Enjoy Real Betting{% endblock %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static '/client/dashboard/assets/css/style.css' %}">
{% endblock %}

{% block content %}

{% include 'client/dashboard/header.html' %}

<div class="db-elements">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="single-db-element">
                    <h4 class="title">
                        <span class="icon"><i class="fa-duotone fa-files"></i></span>
                        <span class="text">my recent bets</span>
                    </h4>
                    <div class="sports-body">
                        <div class="playing-sports-all no-tabs-here">
                            <div class="single-tournament">
                                <div class="tournament-title"></div>
                                <div class="all-tournament-match">
                                    <div class="single-t-match">
                                        <span class="in-play-tag">in-play</span>
                                        <div class="event">
                                            <div class="part-team">
                                                <div class="s-team">
                                                    <img src="assets/img/playing-bet/team-icon/team-5.png" alt="" class="team-icon">
                                                    <span class="team-name">S.S.La</span>
                                                </div>
                                                <div class="s-team">
                                                    <img src="assets/img/playing-bet/team-icon/team-6.png" alt="" class="team-icon">
                                                    <span class="team-name">BAY</span>
                                                </div>
                                            </div>
                                            <span class="event-name">2020–21 UEFA Champions League</span>
                                        </div>
                                        <div class="b-slip">
                                            <span class="slip-number">BS3432589941</span>
                                        </div>
                                        <div class="date-n-time">
                                            <span class="date">1 dec 2022</span>
                                            <span class="time">5:15 am</span>
                                        </div>
                                        <div class="bet-type">
                                            <span class="text">Single bet</span>
                                        </div>
                                        <div class="bet-amount">
                                            <span class="text">$350.22</span>
                                        </div>
                                        <div class="b-odd">
                                            <span class="text">7.20</span>
                                        </div>
                                        <div class="status">
                                            <span class="lost">L</span>
                                        </div>
                                    </div>
                                    <div class="single-t-match">
                                        <div class="event">
                                            <div class="part-team">
                                                <div class="s-team">
                                                    <img src="assets/img/playing-bet/team-icon/team-5.png" alt="" class="team-icon">
                                                    <span class="team-name">S.S.La</span>
                                                </div>
                                                <div class="s-team">
                                                    <img src="assets/img/playing-bet/team-icon/team-6.png" alt="" class="team-icon">
                                                    <span class="team-name">BAY</span>
                                                </div>
                                            </div>
                                            <span class="event-name">2020–21 UEFA Champions League</span>
                                        </div>
                                        <div class="b-slip">
                                            <span class="slip-number">BS3432589941</span>
                                        </div>
                                        <div class="date-n-time">
                                            <span class="date">1 dec 2022</span>
                                            <span class="time">5:15 am</span>
                                        </div>
                                        <div class="bet-type">
                                            <span class="text">Single bet</span>
                                        </div>
                                        <div class="bet-amount">
                                            <span class="text">$350.22</span>
                                        </div>
                                        <div class="b-odd">
                                            <span class="text">7.20</span>
                                        </div>
                                        <div class="status">
                                            <span class="win">W</span>
                                        </div>
                                    </div>
                                    <div class="single-t-match">
                                        <div class="event">
                                            <div class="part-team">
                                                <div class="s-team">
                                                    <img src="assets/img/playing-bet/team-icon/team-5.png" alt="" class="team-icon">
                                                    <span class="team-name">S.S.La</span>
                                                </div>
                                                <div class="s-team">
                                                    <img src="assets/img/playing-bet/team-icon/team-6.png" alt="" class="team-icon">
                                                    <span class="team-name">BAY</span>
                                                </div>
                                            </div>
                                            <span class="event-name">2020–21 UEFA Champions League</span>
                                        </div>
                                        <div class="b-slip">
                                            <span class="slip-number">BS3432589941</span>
                                        </div>
                                        <div class="date-n-time">
                                            <span class="date">1 dec 2022</span>
                                            <span class="time">5:15 am</span>
                                        </div>
                                        <div class="bet-type">
                                            <span class="text">Single bet</span>
                                        </div>
                                        <div class="bet-amount">
                                            <span class="text">$350.22</span>
                                        </div>
                                        <div class="b-odd">
                                            <span class="text">7.20</span>
                                        </div>
                                        <div class="status">
                                            <span class="win">W</span>
                                        </div>
                                    </div>
                                    <div class="single-t-match">
                                        <div class="event">
                                            <div class="part-team">
                                                <div class="s-team">
                                                    <img src="assets/img/playing-bet/team-icon/team-5.png" alt="" class="team-icon">
                                                    <span class="team-name">S.S.La</span>
                                                </div>
                                                <div class="s-team">
                                                    <img src="assets/img/playing-bet/team-icon/team-6.png" alt="" class="team-icon">
                                                    <span class="team-name">BAY</span>
                                                </div>
                                            </div>
                                            <span class="event-name">2020–21 UEFA Champions League</span>
                                        </div>
                                        <div class="b-slip">
                                            <span class="slip-number">BS3432589941</span>
                                        </div>
                                        <div class="date-n-time">
                                            <span class="date">1 dec 2022</span>
                                            <span class="time">5:15 am</span>
                                        </div>
                                        <div class="bet-type">
                                            <span class="text">Single bet</span>
                                        </div>
                                        <div class="bet-amount">
                                            <span class="text">$350.22</span>
                                        </div>
                                        <div class="b-odd">
                                            <span class="text">7.20</span>
                                        </div>
                                        <div class="status">
                                            <span class="lost">L</span>
                                        </div>
                                    </div>
                                    <div class="single-t-match">
                                        <div class="event">
                                            <div class="part-team">
                                                <div class="s-team">
                                                    <img src="assets/img/playing-bet/team-icon/team-5.png" alt="" class="team-icon">
                                                    <span class="team-name">S.S.La</span>
                                                </div>
                                                <div class="s-team">
                                                    <img src="assets/img/playing-bet/team-icon/team-6.png" alt="" class="team-icon">
                                                    <span class="team-name">BAY</span>
                                                </div>
                                            </div>
                                            <span class="event-name">2020–21 UEFA Champions League</span>
                                        </div>
                                        <div class="b-slip">
                                            <span class="slip-number">BS3432589941</span>
                                        </div>
                                        <div class="date-n-time">
                                            <span class="date">1 dec 2022</span>
                                            <span class="time">5:15 am</span>
                                        </div>
                                        <div class="bet-type">
                                            <span class="text">Single bet</span>
                                        </div>
                                        <div class="bet-amount">
                                            <span class="text">$350.22</span>
                                        </div>
                                        <div class="b-odd">
                                            <span class="text">7.20</span>
                                        </div>
                                        <div class="status">
                                            <span class="lost">L</span>
                                        </div>
                                    </div>
                                    <div class="single-t-match">
                                        <div class="event">
                                            <div class="part-team">
                                                <div class="s-team">
                                                    <img src="assets/img/playing-bet/team-icon/team-5.png" alt="" class="team-icon">
                                                    <span class="team-name">S.S.La</span>
                                                </div>
                                                <div class="s-team">
                                                    <img src="assets/img/playing-bet/team-icon/team-6.png" alt="" class="team-icon">
                                                    <span class="team-name">BAY</span>
                                                </div>
                                            </div>
                                            <span class="event-name">2020–21 UEFA Champions League</span>
                                        </div>
                                        <div class="b-slip">
                                            <span class="slip-number">BS3432589941</span>
                                        </div>
                                        <div class="date-n-time">
                                            <span class="date">1 dec 2022</span>
                                            <span class="time">5:15 am</span>
                                        </div>
                                        <div class="bet-type">
                                            <span class="text">Single bet</span>
                                        </div>
                                        <div class="bet-amount">
                                            <span class="text">$350.22</span>
                                        </div>
                                        <div class="b-odd">
                                            <span class="text">7.20</span>
                                        </div>
                                        <div class="status">
                                            <span class="lost">L</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<!-- appear js -->
<script src="{% static '/client/dashboard/assets/js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var options = {
    chart: {
        height: 276,
        type: "area",
        zoom: {
        enabled: false
        },
        toolbar: {
        show: false
        }, 
        fontFamily: 'Asap, Arial, sans-serif'
    },
    legend: {
        show: false
    },
    grid: {
        show: false,
        padding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: -10
        },  
    },
    dataLabels: {
        enabled: false,
        style: {
        fontSize: '20px',
        fontFamily: 'Asap, Arial, sans-serif',
        fontWeight: 'bold',
        colors: undefined
    },
    },
    series: [
        {
        name: "Win",
        data: [0, 350, 150, 300, 80, 250, 0]
        },
        {
        name: "Loss",
        data: [900, 700, 1000, 660, 880, 700, 1000]
        },
        {
        name: "Profit",
        data: [600, 220, 580, 50, 400, 800, 600]
        }
    ],
    fill: {
        type: "gradient",
        gradient: {
        shadeIntensity: 1,
        opacityFrom: 0.45,
        opacityTo: 0.1,
        stops: [0, 90, 100]
        }
    },
    xaxis: {
        categories: [
        "Sun",
        "Mon",
        "Tue",
        "Wed",
        "Thu",
        "Fri",
        "Sat"
        ],
        labels: {
                style: {
                colors: [],
                fontSize: '14px',
                fontFamily: 'Asap, Arial, sans-serif',
                fontWeight: 500,
                cssClass: 'apexcharts-xaxis-label',
            },
        },
        axisBorder: {
            show: false,
            color: '#78909C',
            offsetX: 0,
            offsetY: 0
        },
    },
    yaxis: {
        min: 0,
        max: 1000,
        tickAmount: 5,
        labels: {
                style: {
                colors: [],
                fontSize: '14px',
                fontFamily: 'Asap, Arial, sans-serif',
                fontWeight: 500,
                // cssClass: 'apexcharts-xaxis-label',
                cssClass: 'noce',
            },
        }
    },
    responsive: [
        {
            breakpoint: 1400,
            options: {
                chart: {
                    height: 256
                },
                legend: {
                position: "bottom"
                }
            },
        }
    ]
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);

    chart.render();
</script>
{% endblock %}